div.auth0-editor {
  background-color: moccasin;
  padding: 15px;
}

div.auth0-editor div {
  margin-top: 20px;
}

div.auth0-editor pre {
  background-color: #ddd;
  padding: 15px;
  cursor: pointer;
}
